/*================= 
      Reset
=================*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}


/*================= 
      VARIABLES
=================*/

html{
  --cl-primary: 0, 0%, 100%; /* white */
  --cl-secondary: 0, 0%, 0%;
  --cl-accent: 54, 100%, 50%;
  --cl-gray-400: 0, 0%, 25%;
  --cl-gray-300: 0, 0%, 92%;

  --text-ln-600: 1.5em; 
  --text-ln-500: 1.3;

  --text-sz-700: 3rem;
  --text-sz-600: 1.5rem;
  --text-sz-500: 1.3rem;
  --text-sz-400: 1rem;
  --text-sz-300: .7rem;
}

.body{
  font-family: 'Montserrat', sans-serif;
}

/*================= 
      UTILITIES
=================*/
.alpha-5{--alpha: .5;}
.alpha-none{--alpha: 1;}

.bg-primary{background-color: hsla(var(--cl-primary), var(--alpha, 1));} 
.bg-secondary{background-color: hsla(var(--cl-secondary), var(--alpha, 1));}
.bg-gray-300{background-color: hsla(var(--cl-gray-300), var(--alpha, 1));}
.bg-accent{background-color: hsla(var(--cl-accent), var(--alpha, 1));}
.bg-transparent{background-color: transparent}

.text-cl-primary{color: hsla(var(--cl-primary), var(--alpha, 1));}
.text-cl-secondary{color: hsla(var(--cl-secondary), var(--alpha, 1));}
.text-cl-accent{color: hsla(var(--cl-accent), var(--alpha, 1));}
.text-cl-gray{color: hsla(var(--cl-gray-400), var(--alpha, 1));}

.text-ln-600{ line-height: var(--text-ln-600)}
.text-ln-500{ line-height: var(--text-ln-500)}

.text-sz-700{font-size: var(--text-sz-700)}
.text-sz-600{font-size: var(--text-sz-600)}
.text-sz-500{font-size: var(--text-sz-500)}
.text-sz-400{font-size: var(--text-sz-400)}
.text-sz-300{font-size: var(--text-sz-300)}

.button-md{
  padding-inline: 3em;
  padding-block: 1em;
  background-color: hsla(var(--cl-accent), var(--alpha, 1));
  font-weight: bold;
}

.bold{
  font-weight: bold;
}

.hidden{
  display: none;
}


/*================= 
    TYPOGRAPHY
=================*/

.subtitle{
  font-weight: bold;
  font-size: 1.1rem;
}

.subtitle::after{
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  margin-block: .6rem 1rem;
  background-color: hsla(var(--cl-accent), var(--alpha, 1));
}

.homepage .subtitle::after{
  margin-inline: auto;
}

.title{
  position: relative;
  font-size: var(--text-sz-700);
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.title::after{
  content: "";
  position: absolute;
  inset-block: 50% 0;
  inset-inline: 0 -5%;
  background-color: hsla(var(--cl-accent), var(--alpha, 1));
  z-index: -1;
}

/*================= 
    MAIN GRID
=================*/

.main-grid{
  display: grid;
  /* col-padding content col-padding */
  grid-template-columns: minmax(2rem, 1fr) minmax(0rem, 40rem) minmax(2rem, 1fr);
}

@media (min-width: 768px) {
  .main-grid{
    grid-template-columns: minmax(2rem, 1fr) repeat(3, minmax(12rem, 23rem))  minmax(2rem, 1fr);
    column-gap: 2.5rem;
  }
}

/*================= 
    BODY 
=================*/

.body{
  font-family: 'Montserrat', sans-serif;
}

::selection {
  color: hsla(var(--cl-secondary), var(--alpha, 1));
  background: hsla(var(--cl-accent), var(--alpha, 1));
}

/*================= 
    HEADER 
=================*/
.header{
  position: absolute;
  width: 100%;
}

.header-content{
  width: 100%;
  grid-column: 2 / -2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.header-content .logo{
  padding-block: 1.7em .2em;
}

/*for convenience nav-content isn't mobile first. 
Because in this case mobile views are more complex*/

/*side bar*/
/* > md screens*/
.nav__list{
  position: relative;
  display: flex;
  gap: 2rem;
  z-index: 3;
}

.nav__close{
  display: none;
  color: hsla(var(--cl-accent), var(--alpha, 1));
  font-size: 3rem;
  align-self: flex-start;
}

.nav__list > li:hover,
.nav__list > li:focus{
  cursor: pointer;
  color: hsla(var(--cl-accent), var(--alpha, 1));
  border-color: hsla(var(--cl-accent), var(--alpha, 1));
}

@media (max-width: 768px) {
  .nav{
    display: flex;
    gap: 1.5rem;
    position: fixed;
    inset: 0;
    padding: 1rem 2rem;
    height: 100vh;
    background-color: rgb(32, 32, 32);
    translate: 100%;
    transition: translate .7s ease-out;
    z-index: 1;
  }

  .nav__close{
    display: block;
    align-self: flex-start;
  }

  .nav__list{
    flex-grow: 1;
    flex-direction: column;
    padding-top: 1.2rem;
  }

  .nav__list > li{
    padding-bottom: 1em;
    font-size: var(--text-sz-500);
    border-bottom: 1px solid hsla(var(--cl-primary), var(--alpha, 1));
  }
}

.open{
  translate: 0;
}
/*side bar*/

@media (min-width: 768px) {
  .header-content{
    justify-content: start;
  }

  .hamburger{
    display: none;
  }
}

/*================= 
    HERO 
=================*/

.hero{
  padding-block: 7rem 4rem;
  row-gap: 2em;
  background-image: url(./img/hero-bg.jpg);
  background-position: bottom;
  background-size: cover;  
}

.hero > *{
  margin-right: 10%;
  grid-column: 2 / -2;
}

.hero a{
  justify-self: start;
}

@media (min-width: 450px) {
  .hero > *{
    margin-right: 30%;
  }
}

@media (min-width: 768px) {
  .hero{
    padding-block: 10rem 6rem;
    background-position: center;
  }

  .hero *{
    grid-column: 2 / -3;
  }
}

@media (min-width: 1200px) {
  .hero{
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/*================= 
    INFO 
=================*/

.info{
  justify-items: center;
  padding-block: 5em;
  row-gap: 3em;
}

.info-card{
  grid-column: 2 / -2;
  text-align: center;
  line-height: var(--text-ln-600);
  max-width: 32ch;
}

.info-card > p strong{
  font-weight: 600;
  color: hsla(var(--cl-gray-400), var(--alpha, 1));
}

@media (min-width: 768px) {

  .info-card{
    grid-column: span 1;
  }

  .info-card:first-child{
    grid-column: 2 / span 1;
  }
}
/*================= 
    FOOTER 
=================*/

.footer{
  padding-block: 5em;
  row-gap: 1em;
  text-align: center;
  grid-template-areas: 
  ". content ."
  ". social .";
}

.footer__social-networks{
  display: flex;
  column-gap: .5rem;
  justify-content: center;
  grid-area: social;
  font-size: var(--text-sz-500);
}

.footer__social-networks *{
  cursor: pointer;
}

.footer__content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: content;
}

.footer__content p:last-of-type{
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .footer{
    grid-template-areas: ". content content social .";
    text-align: left;
  }
  .footer__social-networks{
    justify-content: end
  }
}

/*====================================================== */
                  /* PAGE: ABOUT US */
/*====================================================== */


/*================= 
    MAIN LAYOUTS
=================*/

/*about us page*/
.main-about-us{
  grid-template-areas: 
  ". title ."
  ". image ."
  ". info .";
  justify-items: center;
  padding-block: 7rem 4rem;
  row-gap: 3rem;
}

@media (min-width: 768px) {
  .main-about-us{
    grid-template-areas: 
    ". title title title ."
    ". image info info ."
    ". ..... info info .";
    column-gap: 5rem;
  }
}

/*contact page*/

.main-contact{
  grid-template-areas: 
  ". title ."
  ". image ."
  ". info ."
  ". form .";
  padding-block: 7rem 4rem;
  row-gap: 3rem;
}

@media (min-width: 768px) {
  .main-contact{
    grid-template-areas: 
    ". title title title ."
    ". image form form ."
    ". info form form .";
    column-gap: 5rem;
  }
}

/*================= 
    title 
=================*/

.main__title{
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: title;
  text-align: center;
}

/*================= 
    IMG 
=================*/

.main__img{
  position: relative;
  grid-area: image;
  box-shadow: 9px 6px 1px 0px rgba(0,0,0,0.75);
}

.main__img img{
  width: 100%;
  height: 100%;
}

.main__img::after{
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsla(var(--cl-accent), var(--alpha, 1));
  translate: 16px 15px;
  z-index: -1;
}

/*================= 
    INFO 
=================*/

.main__info{
  grid-area: info;
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  
}

.main-about-us .info-card{
  margin-top: 0;
  text-align: start;
  max-width: none;
}


/*================= 
    FORM 
=================*/

.main__form{
  grid-area: form;
}

.form{
  display: grid;
  row-gap: 1rem;
  grid-auto-rows: 1fr;
  color: hsla(var(--cl-secondary), var(--alpha, 1));
}

.form__item{
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.form__item label{
  font-weight: 500;
}

.form__item input{
  padding: .5em;
}

.form input{
  border: 2px solid hsla(var(--cl-gray-400), var(--alpha, .3));
  flex-grow: 1;
}

.form__message{
  align-self: stretch;
  grid-row:  span 2;
}

.form__button{
  justify-self: end;
  align-self: end;
}


@media (min-width: 768px) {
  .form{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .form > *{
    grid-column: 1 / -1;
  }

  .form__first_name{
    grid-column: span 1;
  }

  .form__email{
    grid-column: span 1;
  }
}
